.titleBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  h1 {
    margin: 0;
  }
}

.sortPicker {
  float: right;
  display: flex;
  gap: 12px;
  align-items: center;
  button {
    background: #3E507214;
    color: #000B26CC;
    border-radius: 61px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    &:hover {
      background: #3E507226;
    }
    &:active {
      background: #3E50725B;
    }
  }
  :global .Active {
    background: #060E21E0;
    color: white;
    &:hover {
      background: #060E21C9;
    }
    &:active {
      background: #060E217C;
    }
  }
}

.market {
  display: flex;
  gap: 24px;
  :global {
    .filter {
      display: flex;
      flex-direction: column;
      gap: 24px;
      button {
        background: #3E507214;
        border-radius: 8px;
        border: none;
        padding: 12px 24px;
        &:hover {
          background: #3E50721F;
        }
        &:active {
          background: #3E50725A;
        }
      }
    }
    .choices {
      display: flex;
      flex-direction: column;
      width: 282px;
      border: 1px solid #3E507228;
      border-radius: 16px;
      padding: 24px;
      gap: 12px;
    }
  }
}

.items {
  display: flex;
  width: 100%;
  :global {
    .promo, .item {
      width: 275px;
      height: 371px;
    }
    .promo {
      display: flex;
      flex-direction: column;
      padding: 24px;
      border: 1px solid #3E50721E;
      box-shadow: 0 12px 32px #7979791E, 0 4px 24px #152D671E;
      border-radius: 16px;
      .convert {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
      }
      button {
        font-size: 18px;
        margin: 12px 0;
        padding: 16px;
        border-radius: 8px;
        border: none;
        background: #07C88E;
        width: 100%;
        color: white;
        height: 56px;
        cursor: pointer;
        &:hover {
          background: #07ab7a;
        }
        &:active {
          background: #05815c;
        }
      }
    }
    .item {

    }
  }
}
