.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004C;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: fadein 0.5s ease-out;
}

.overlayHidden {
    @extend .overlay;
    opacity: 0;
    display: none;
}

.modal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px;
    border-radius: 24px;
    background-color: white;
    animation: fadein 0.5s ease-out, easein 0.5s ease-out;
}

.modalHidden {
    @extend .modal;
    opacity: 0;
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes easein {
    from {
        transform: translate3d(0, -20%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
