@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  font-family: "Inter", sans-serif;
}

html, #root, body, root, .App {
  height: 100%;
}

@media (max-width: 1270px) {
  .App {
    zoom: 0.8;
  }
}
@media (max-width: 1000px) {
  .App {
    zoom: 0.7;
  }
}
