@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: white;
  margin-top: -56px;
  left: 0;
  box-shadow: 0 0.5px 0 #0000001E;
  z-index: 2;
}

.header_contents {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
}

.header_contents li {
  padding: 15px;
  float: right;
  list-style-type: none;
  font: 14px/18px "Inter", sans-serif;
  font-weight: bold;
}

.header_contents li a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  text-underline-offset: 10px;
}

.logo {

}